<div class="container-fluid mt-5 about-style" id="serviceid">
          <div class="row">
              <div class="col-md-10 col-12 mx-auto">
                    <h1 class="text-center main-heading">Our Services</h1>
                    <p class="text-center sub-heading">Grow Your Business With Us</p>
                    <div class="row">

                        <div class="col-md-4">
                                    <div class="box" >
                                             <div class="our-services settings">
                                                       <div class="icon">
                                                              <img src="https://image.flaticon.com/icons/png/128/4052/4052932.png" width="110px" height="120px" alt="server issue">

                                                        </div>        
                                                              <h4>Settings</h4> 
                                                              <p>Settings lets you customize the website to fit your preferences</p>    
                                               </div>
                                               
                                     </div>
                                     
                              </div>

                                <div class="col-md-4">
                                    <div class="box">
                                             <div class="our-services speedup">
                                                       <div class="icon">
                                                                           <img src="https://image.flaticon.com/icons/png/128/3064/3064836.png" width="120px" height="100%"   alt="server issue">

                                                        </div>        
                                                              <h4>Speedup</h4> 
                                                              <p>Speedup is the improvement in speed of execution of a task with different resources</p>    
                                               </div>
                                               
                                     </div>
                                     
                              </div>

                                <div class="col-md-4">
                                    <div class="box" height="200px">
                                             <div class="our-services privacy">
                                                       <div class="icon">
                                                              <img src="https://image.flaticon.com/icons/png/128/3064/3064211.png" width="110px" height="100px" alt="server issue">

                                                        </div>        
                                                              <h4>Privacy</h4> 
                                                              <p>Privacy establishes limit who can access our website as well as our information</p>    
                                               </div>
                                               
                                     </div>
                                     
                              </div>
                             <div class="col-md-4">
                                    <div class="box">
                                             <div class="our-services backups">
                                                       <div class="icon">
                                                              <img src="https://image.flaticon.com/icons/png/128/3427/3427386.png" width="110px" height="100px" alt="server issue">

                                                        </div>        
                                                              <h4>Backups</h4> 
                                                              <p>Backup stores the copy of the computer data so that it may be used to restore the original data after a data loss event</p>    
                                               </div>
                                               
                                     </div>
                                     
                              </div>

                                <div class="col-md-4">
                                    <div class="box">
                                             <div class="our-services ssl">
                                                       <div class="icon">
                                                              <img src="https://i.imgur.com/v6OnUqu.png" width="110px" height="100px" alt="server issue">

                                                        </div>        
                                                              <h4>SSL secured</h4> 
                                                              <p>SSL is the standard technology for keeping the internet connection secure and safegaurding any sensitive data</p>    
                                               </div>
                                               
                                     </div>
                                     
                              </div>

                                <div class="col-md-4">
                                    <div class="box">
                                             <div class="our-services database">
                                                       <div class="icon">
                                                              <img src="https://image.flaticon.com/icons/png/128/3908/3908242.png" width="110px" height="100px" alt="server issue">

                                                        </div>        
                                                              <h4>Database</h4> 
                                                              <p>databases helps for the storage, retrieval, modification, and deletion of data with various data-processing operations</p>    
                                               </div>
                                               
                                     </div>
                                     
                              </div>

                                
                                  
                     </div>
               </div>
           </div>
     </div>